<p>Hello <%= @task.user.full_name %></p>

<p>Your task has been marked "Done" by user <%= @my_user.full_name %>!</p>

<p>For project: <%= @task.project.title %>, task: <%= @task.title %></p>

<p>Regards,</p>

<p>Pm tool web team</p>