<div id="<%= dom_id(discussion) %>">
  <h2><%= discussion.title %>
  <%= discussion.description %> 
  <p>discussion by: <%#= discussion.user.first_name %></p>
  <%= link_to "Delete D", project_discussion_path(@project.id, discussion.id), method: "delete", data: {confirm: "delete this discussion?"}, class: "btn btn-sm btn-danger", remote: true  %>
  <!-- remote: true -- means rails send form via JS instead of default HTML -->

  <%#= button_to "Delete", project_discussion_path(@project.id, discussion.id), method: :delete, data: {confirm: "delete this discussion for real?"}, class: "btn btn-sm btn-danger" %>
</div>
 
 