<h1><%= @task.title %></h1>
<p><%= @task.due_date %></p>

<%= link_to "Edit task", edit_task_path(@task) %>
<%= link_to "Delete task", task_path(@task), method: :delete, data: {confirm: "are you sure?"} %>
